In [9]:
import pandas as pd
import numpy as np
import seaborn as sns

# 딕셔너리 데이터로 판다스 시리즈 만들기
student1 = pd.Series({'국어' : 100, '영어' : 80, '수학' : 90})
print(student1, '\n')

#학생의 과목별 점수를 200으로 나누기
percentage = student1 / 200

print(percentage, '\n')
print(type(percentage))

국어    100
영어     80
수학     90
dtype: int64

국어    0.50
영어    0.40
수학    0.45
dtype: float64

<class 'pandas.core.series.Series'>

In [5]:
student1 = pd.Series({'국어' : 100, '영어' : 80, '수학' : 90})
student2 = pd.Series({'수학' : 80, '국어' : 90, '영어' : 80})

print(student1,'\n')
print(student2,'\n')

#두 학생의 과목별 점수로 사칙연산 수행
add = student1 + student2
sub = student1 - student2
mul = student1 * student2
div = student1 / student2
print(type(div), '\n')

#사칙연산 결과를 데이터프레임으로 합치기 (시리즈 -> 데이터프레임)
res = pd.DataFrame([add, sub ,mul, div],
                  index = ['덧셈','뺄셈','곱셈','나눗셈'])
print(res, '\n', type(res))
print(add, '\n', sub, '\n',mul,'\n',div)

국어    100
영어     80
수학     90
dtype: int64

수학    80
국어    90
영어    80
dtype: int64

<class 'pandas.core.series.Series'>

              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0
 <class 'pandas.core.frame.DataFrame'>
국어    190
수학    170
영어    160
dtype: int64
 국어    10
수학    10
영어     0
dtype: int64
 국어    9000
수학    7200
영어    6400
dtype: int64
 국어    1.111111
수학    1.125000
영어    1.000000
dtype: float64

In [7]:
student1 = pd.Series({'국어' : np.nan, '영어' : 80, '수학' : 90})
student2 = pd.Series({'수학' : 80, '국어' : 90})

print(student1,'\n')
print(student2,'\n')

#두 학생의 과목별 점수로 사칙연산 수행 (시리즈 vs 시리즈)
add = student1 + student2
sub = student1 - student2
mul = student1 * student2
div = student1 / student2
print(type(div), '\n')

#사칙연산 결과를 데이터프레임으로 합치기 (시리즈 -> 데이터프레임)
res = pd.DataFrame([add, sub ,mul, div],
                  index = ['덧셈','뺄셈','곱셈','나눗셈'])
print(res)

국어     NaN
영어    80.0
수학    90.0
dtype: float64

수학    80
국어    90
dtype: int64

<class 'pandas.core.series.Series'>

     국어        수학  영어
덧셈  NaN   170.000 NaN
뺄셈  NaN    10.000 NaN
곱셈  NaN  7200.000 NaN
나눗셈 NaN     1.125 NaN

In [8]:
student1 = pd.Series({'국어' : np.nan, '영어' : 80, '수학' : 90})
student2 = pd.Series({'수학' : 80, '국어' : 90})

print(student1,'\n')
print(student2,'\n')

#두 학생의 과목별 점수로 사칙연산 수행 (연산 메소드 사용)
sr_add = student1.add(student2, fill_value=0)
sr_sub = student1.sub(student2, fill_value =0)
sr_mul = student1.mul(student2, fill_value=0)
sr_div = student1.div(student2, fill_value=0)


#사칙연산 결과를 데이터프레임으로 합치기 (시리즈 -> 데이터프레임)
res = pd.DataFrame([sr_add, sr_sub ,sr_mul, sr_div],
                  index = ['덧셈','뺄셈','곱셈','나눗셈'])
print(res)

국어     NaN
영어    80.0
수학    90.0
dtype: float64

수학    80
국어    90
dtype: int64

       국어        수학         영어
덧셈   90.0   170.000  80.000000
뺄셈  -90.0    10.000  80.000000
곱셈    0.0  7200.000   0.000000
나눗셈   0.0     1.125        inf

In [11]:
#타이타닉 데이터 셋에서 age, fare 2개열을 선택하여 데이터프레임 만들기
titanic = sns.load_dataset('titanic')
print(titanic.columns, '\n', titanic.shape)
df = titanic.loc[:,['age','fare']]
print(df.head(),'\n')
print(type(df),'\n')

#데이터프레임에 숫자 10 더하기
add= df +10
print(add.head(),'\n')
print(type(add))

#데이터프레임 끼리 연산하기 (add - df)
sub = add - df
print(sub.tail(), '\n')
print(type(sub))

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
 (891, 15)
    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

<class 'pandas.core.frame.DataFrame'>

    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500

<class 'pandas.core.frame.DataFrame'>
      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0

<class 'pandas.core.frame.DataFrame'>