In [1]:
import pandas as pd

In [2]:
df =pd.DataFrame({'Animal':["Falcon", "Falcon", "Parrot","parrot"],
                'Max Speed' : [380., 370., 24.,26.]})
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  parrot       26.0

In [3]:
df.groupby(["Animal"]).mean()

        Max Speed
Animal
Falcon      375.0
Parrot       24.0
parrot       26.0