In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/gapminder.tsv', sep='\t')

In [7]:
multi_group_var = df.groupby(['year','continent'])['lifeExp']
print(multi_group_var)
print(multi_group_var.mean())
print(multi_group_var.mean().count())

<pandas.core.groupby.groupby.SeriesGroupBy object at 0x0000021F935D54A8>
year  continent
1952  Africa       39.135500
      Americas     53.279840
      Asia         46.314394
      Europe       64.408500
      Oceania      69.255000
1957  Africa       41.266346
      Americas     55.960280
      Asia         49.318544
      Europe       66.703067
      Oceania      70.295000
1962  Africa       43.319442
      Americas     58.398760
      Asia         51.563223
      Europe       68.539233
      Oceania      71.085000
1967  Africa       45.334538
      Americas     60.410920
      Asia         54.663640
      Europe       69.737600
      Oceania      71.310000
1972  Africa       47.450942
      Americas     62.394920
      Asia         57.319269
      Europe       70.775033
      Oceania      71.910000
1977  Africa       49.580423
      Americas     64.391560
      Asia         59.610556
      Europe       71.937767
      Oceania      72.855000
1982  Africa       51.592865
      Americas     66.228840
      Asia         62.617939
      Europe       72.806400
      Oceania      74.290000
1987  Africa       53.344788
      Americas     68.090720
      Asia         64.851182
      Europe       73.642167
      Oceania      75.320000
1992  Africa       53.629577
      Americas     69.568360
      Asia         66.537212
      Europe       74.440100
      Oceania      76.945000
1997  Africa       53.598269
      Americas     71.150480
      Asia         68.020515
      Europe       75.505167
      Oceania      78.190000
2002  Africa       53.325231
      Americas     72.422040
      Asia         69.233879
      Europe       76.700600
      Oceania      79.740000
2007  Africa       54.806038
      Americas     73.608120
      Asia         70.728485
      Europe       77.648600
      Oceania      80.719500
Name: lifeExp, dtype: float64
60

In [17]:
yearuni = df['year'].unique()
conuni = df['continent'].unique()

In [28]:
for i in yearuni:
    yearlist = df[df['year']==i]
    print(i,end='\t')
    print()
    for idx in conuni:
        conList = yearlist[yearlist['continent']==idx]
        print(idx, end = '\t')
        print(conList['gdpPercap'].mean(),end='\t')
        print(conList['lifeExp'].mean(),end='\n')

1952
Asia	5195.484004039395	46.314393939393945
Europe	5661.057434759999	64.40849999999999
Africa	1252.5724658211536	39.1355
Americas	4079.0625522000005	53.27983999999999
Oceania	10298.08565	69.255
1957
Asia	5787.732939942423	49.31854424242425
Europe	6963.012815933334	66.70306666666667
Africa	1385.2360622557696	41.26634615384614
Americas	4616.04373316	55.96027999999999
Oceania	11598.522455	70.295
1962
Asia	5729.369624775757	51.563223030303035
Europe	8365.4868143	68.53923333333334
Africa	1598.0788248461538	43.31944230769231
Americas	4901.5418704	58.398759999999996
Oceania	12696.45243	71.08500000000001
1967
Asia	5971.173373606061	54.66364
Europe	10143.823756533333	69.73759999999999
Africa	2050.3638008576922	45.33453846153846
Americas	5668.25349604	60.410920000000004
Oceania	14495.02179	71.31
1972
Asia	8187.468699448486	57.31926909090909
Europe	12479.57524646667	70.77503333333334
Africa	2339.6156741980767	47.45094230769231
Americas	6491.334139040001	62.39492000000002
Oceania	16417.33338	71.91
1977
Asia	7791.3140199303025	59.610556363636356
Europe	14283.9791096	71.9377666666667
Africa	2585.9385084634623	49.58042307692306
Americas	7352.007126279999	64.39155999999998
Oceania	17283.957605	72.85499999999999
1982
Asia	7434.135157484849	62.6179393939394
Europe	15617.896551233333	72.80639999999998
Africa	2481.5929597538466	51.59286538461541
Americas	7506.73708808	66.22884000000002
Oceania	18554.709840000003	74.28999999999999
1987
Asia	7608.226507730303	64.8511818181818
Europe	17214.310726633335	73.64216666666668
Africa	2282.6689912596153	53.34478846153844
Americas	7793.40026112	68.09072
Oceania	20448.04016	75.32
1992
Asia	8639.690247730305	66.53721212121211
Europe	17061.568084200004	74.44010000000002
Africa	2281.8103332442306	53.629576923076925
Americas	8044.934405520001	69.56836
Oceania	20894.045885	76.945
1997
Asia	9834.093295248485	68.02051515151514
Europe	19076.7818016	75.50516666666667
Africa	2378.7595551019226	53.59826923076924
Americas	8889.30086256	71.15048
Oceania	24024.17517	78.19
2002
Asia	10174.09039657879	69.23387878787878
Europe	21711.73242243333	76.70059999999998
Africa	2599.385158890385	53.325230769230785
Americas	9287.67710732	72.42204000000001
Oceania	26938.77804	79.74000000000001
2007
Asia	12473.02687013333	70.72848484848484
Europe	25054.481635933327	77.64859999999999
Africa	3089.0326047365384	54.80603846153846
Americas	11003.03162536	73.60812000000001
Oceania	29810.188274999997	80.7195

In [ ]:
print(unilist)
for idx in unilist:
    conList = df[df['continent']==idx]
    print(conList["lifeExp"].mean())
print(df.groupby('continent')[['lifeExp','gdpPercap']].mean())