In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame([[1,2], [4,5], [7,8]],
    index=['cobra', 'viper', 'sidewinder'],
    columns=['max_speed', 'shield'])

df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [4]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [5]:
df.iloc[0]

max_speed    1
shield       2
Name: cobra, dtype: int64

In [6]:
df.loc[['viper', 'sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [8]:
df.loc['cobra', 'shield']

2

In [9]:
df.loc['cobra' : 'viper', 'max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

In [11]:
df.loc[[True,False,True]]

            max_speed  shield
cobra               1       2
sidewinder          7       8

In [12]:
df.loc[df['shield'] > 6]

            max_speed  shield
sidewinder          7       8

In [14]:
df.loc[df['shield'] > 6,['max_speed']]

            max_speed
sidewinder          7

In [15]:
df.loc[['viper','sidewinder'],['shield']] = 50

df

            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

In [16]:
df.loc['cobra'] = 10
df

            max_speed  shield
cobra              10      10
viper               4      50
sidewinder          7      50

In [19]:
df.loc[:,'max_speed'] = 30

df

            max_speed  shield
cobra              30      10
viper              30      50
sidewinder         30      50

In [21]:
df.loc[df['shield'] > 35] =0
df

            max_speed  shield
cobra              30      10
viper               0       0
sidewinder          0       0

In [23]:
df = pd.DataFrame([[1,2], [4,5], [7,8]],
    index =[7,8,9],
    columns=['max_speed', 'shield'])
df

   max_speed  shield
7          1       2
8          4       5
9          7       8

In [24]:
df.loc[7:9]

   max_speed  shield
7          1       2
8          4       5
9          7       8